{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">

    <div class="row p-3">
        
        <div class="col">
            <input type="radio" class="btn-check" name="options" id="delta" checked autocomplete="off">
            <label class="btn" for="delta">Delta</label>
    
            <input type="radio" class="btn-check" name="options" id="moen"  autocomplete="off">
            <label class="btn" for="moen">Moen</label>
    
            <!-- <input type="checkbox" class="btn-check" id="btn-check-6" autocomplete="off" disabled>
            <label class="btn" for="btn-check-6">Disabled</label> -->
        </div>
    </div>

    <h1 class="text-center">{{ manufacturer }} Pricing</h1>

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Part #" aria-label="Part #" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
    </div>

    <div class="row">
        <div class="col">
            <table class="table transparent-group">
                <thead>
                  <tr>
                    <th scope="col" class="bg-transparent">Product Image</th>
                    <th scope="col" class="bg-transparent">Model Number</th>
                    <th scope="col" class="bg-transparent">Material Type</th>
                    <th scope="col" class="bg-transparent">Collection</th>
                    <th scope="col" class="bg-transparent">Description</th>
                    <th scope="col" class="bg-transparent">Finish</th>
                    <th scope="col" class="bg-transparent">List Price</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  {% for item in delta_page_obj %}
                  <tr class="table-row">
                    <td class="bg-transparent table-img"> 
                      <img src="{{item.product_image}}" alt="{{item.collection}} {{item.finish}} - {{item.material_type}}">
                    </td>
                    <th scope="row" class="bg-transparent">{{item.model_number}}</th>
                    <td class="bg-transparent">{{item.material_type}}</td>
                    <td class="bg-transparent">{{item.collection}}</td>
                    <td class="bg-transparent">{{item.description}}</td>
                    <td class="bg-transparent">{{item.finish}}</td>
                    <td class="bg-transparent">{{item.list_price}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>

</div>
{% endblock content %}